PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/sentinelzone?retryWrites=true&w=majority
MODEL_PROVIDER=mock
PYTHON_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:5173
